*{
    margin:0;
    padding:0;
}

body{
    background:rgb(36, 88, 36);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    text-align: center;
}

#gameBoard{
    width:500px ;
    height: 500px;
    margin: 0 auto;
    background-color: pink;
    color:black;
    border: 5px solid rgb(186, 107, 120);
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);

}

.gameBox{
    border: 5px solid rgb(186, 107, 120);
    border-radius: 2px;
    font-size: 80px;
    display: flex;
    justify-content: center;
}